.table thead th {
    color : #fff !important;
    font-weight: 430;
}
.table thead, .box.has-background-grad, .table {
    background-color: #151d33 !important;
}
.box.has-background-grad hr {
    background-color: #161625 !important;
}
.has-text-cyan {
    color : #69757a !important;
}
.has-text-custom-blue {
    color: #007bff !important;
}
.table td, .table th {
    border: 1px solid rgba(10, 10, 10, 0.185) !important;
}
.hero.is-black{
    background-color: #161625 !important;
}
.hero .title {
    color: #ff073a !important;
}
.navbar.is-black{
    background-color: #1e1e30 !important;
}